.tabs{  
    gap: 14px;
    display: flex;
    flex-direction: row;

    background-color:rgba($color: white, $alpha: 0.25);
    backdrop-filter: blur(3px);
    border-radius:12px;
    padding: 10px;
    margin: 12px;
    margin-top: 50px;
}
.tab{
    position: relative; // makes 3 boxes instead of 5
}

.tab-tile {
    
   display: flex;
   padding: 18px;
 
   cursor: pointer;

    i{
        color: #222;
    }
}

.tab-tile::before{  // makes sure no scroll bars appear
    content: '';
    position: absolute;
    top: 0; // positions voilet boxes on symbols on tabs
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: all 0.1s ease-out;
    opacity: 0.9;
}

.bookmarks-tab .tab-tile::before{
    background: linear-gradient(45deg, #f8b5a5, #e2d2fd);

}

.todos-tab .tab-tile::before{
    background: linear-gradient(45deg, #a2ffff, #ffbdde);

}

.notes-tab .tab-tile::before{
    background: linear-gradient(45deg, #d2cdff, #5fffbc);

}

.tab-tile:hover::before{
    opacity: 1;
    transform: scale(1.2);
}