<div class="tabs">
    <a routerLink ="/bookmarks" RouterLinkActive="active" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">bookmarks</i>
        </div>
    </a>

    <a class="tab todos-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">check</i>
        </div>
    </a>

    <a class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">notes</i>
        </div>
    </a>
</div>
