
.app-wrapper{
    display: flex;
    flex-direction: column; 

    height: 100%;

    background-image: url('https://w0.peakpx.com/wallpaper/936/399/HD-wallpaper-logic-circuit-computer-cpu-tech-technology.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-section{
    //background-color: aquamarine;
    text-align: center;
    padding: 100px 0;

    h1{
        font-size: 120px;
        font-weight: bold; 
        color: #f5f5f5;
        text-shadow: 0px 1px 7px rgba(0,0,0,0.5); 
    }

    h2{
        font-size: 28px;
        color: #f5f5f5;  
        text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    }

}

.content-section{
    //background-color: cadetblue;
    flex-grow: 1;
}

.bottom-section{
    //background-color: coral;
    display: flex;  // Align items in the center
    app-tabs { 
        margin: auto; 
    }
}