.app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    // background image settings for home page
    background-image: url('https://w0.peakpx.com/wallpaper/936/399/HD-wallpaper-logic-circuit-computer-cpu-tech-technology.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-section{
   // background: aquamarine;
    text-align: center;
    padding: 100px 0px;

    h1{
        font-size: 120px;
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 4px rgba($color: black, $alpha: 0.1);

     }

     h2{
        font-size: 28px;
        color: white;
        // horizontal, vertical, blur, color
        text-shadow: 0px 1px 7px rgba($color: black, $alpha: 0.1);
     }
}

.content-section{
    //background: cadetblue;
    flex-grow: 1;
    min-height: 0;
}


.bottom-section{
   // background: coral;
    display: flex;

    // centering the tabs
    app-tabs{
        margin: auto
    }

}
